@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

main {
  padding: 20px;
  background-color: #f7f7f7;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
